#
# Specifying gitattributes since Docker generally needs LF not CRLF in its files
# but Windows IDE's may overwrite these with CRLF during checkout, then creating
# some peculiar practical Linux runtime errors in the Docker containers.
#
# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.ini text eol=lf
*.php text eol=lf
docker-tripal/logrotate.d/* text eol=lf
docker-tripal/scripts/pre-launch.d/* text eol=lf
docker-tripal/scripts/setup.d/* text eol=lf
*.diff text eol=lf
*.sql text eol=lf
*.conf text eol=lf
*.inc text eol=lf
